
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      
      <td><%= link_to "Show", friend %></td>
      <td><%= link_to "Edit", edit_friend_path(friend) %></td>
      <td><%= link_to "Destroy", friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
</tr
