<div id="<%= dom_id @friend %>">
  <p>
    <strong>First Name:</strong>
    <%= @friend.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= @friend.twitter %>
  </p>

</div>
  <% if @friend.user == current_user %>
  <%= link_to "Edit this Friend", edit_friend_path(@friend), class:"btn btn-secondary" %> 
  <br>
  <br>
  
  <%= button_to "Delete this Friend", @friend, method: :delete, class:"btn btn-secondary", data: {confirm: "Are you sure?"}  %>
  <% end %>
  <br>

  <%= link_to "Back to Friends", friends_path, class:"btn btn-secondary" %>
  <br/></br>
</div>
